__pycache__/
db.sqlite3
codingroutine/__pycache__/
base/__pycache__/
administration/__pycache__/
verification/__pycache__/
migrations/
secret_values.py
base/templates/base/email_templates/
static/images/
