{%extends 'main.html'%}
{% block content%}
{% include 'navbar.html'%}


<div id="container">
<div id="admin-box">
<div id="admin-header">
<h6>Administration site</h6>
<small id="admin-small">logged in as {{request.user.username}}</small>
<div style="clear:both;"></div>
</div>

<div id="admin-content">
    <a href="{% url 'users'%}"><div class="model-box">Newsletter Users</div></a>
    <a href="{% url 'messages'%}"><div class="model-box">Contact Messages
        {% if unread_messages > 0 and unread_messages < 100%}
            <div id="new">{{unread_messages}}</div>
        {% elif unread_messages > 99 %}
            <div id="new">99</div>
        {%endif%}
    </div></a>
    <a href="{% url 'exercises'%}"><div class="model-box">Exercises</div></a>
    <a href="{% url 'exceptions'%}"><div class="model-box">Exceptions
    {% if unread_exceptions > 0%}
    <div id="new_exception">!</div>
    {% endif %}
    </div></a>
    <a href="{% url 'admins'%}"><div class="model-box">Admins</div></a>
    <a href="{% url 'logout'%}"><div class="model-box">Logout</div></a>
    <div style="clear:both;"></div>
    </div></a>

</div>
</div>
</div>




{% include 'footer.html'%}
{% endblock content%}
