{%extends 'main.html'%}
{% block content%}
{% include 'navbar.html'%}


<div id="container">
<div id="admin-box">
<div id="admin-header">
<h6>Admins</h6>
<small id="admin-small">logged in as Wiktor</small>
<div style="clear:both;"></div>
</div>

<div id="models-content">

    <a id="button" href="{%url 'administration-site'%}">Go back</a>

    <span>{{admins_count}} {%if admins_count == 1%} admin {%else%} admins {%endif%}</span>


    <div id="table">
        <div id="table-header">
            <div id="table-header-element">Username</div>
            <div class="hide-1100" id="table-header-element">Active</div> 
            <div class="hide-850" id="table-header-element">Last login</div>
            <div class="hide-650" id="table-header-element">Date joined</div>
            <div style="clear:both;"></div>
        </div>

    <div id="table-content">
    {% for admin in admins %}
        <div
        {% if user.id|divisibleby:2 %} 
        style="background-color: #182527bb;"
        {%endif%}
         id="table-element">
         <div id="table-row-element">{{admin.username}}</div>
         <div class="hide-1100" id="table-row-element">{{admin.is_active}}</div> 
         <div class="hide-850" id="table-row-element">{{admin.last_login}}</div>
         <div class="hide-650" id="table-row-element">{{admin.date_joined}}</div>
         <div style="clear:both;"></div>
        </div>
    {%endfor%}
    </div>

    </div>

</div>

</div>
</div>
</div>




{% include 'footer.html'%}
{% endblock content%}
