{%extends 'main.html'%}
{% block content%}
{% include 'navbar.html'%}


<div id="container">
<div id="admin-box">
<div id="admin-header">
<h6>Exceptions</h6>
<small id="admin-small">logged in as {{request.user.username}}</small>
<div style="clear:both;"></div>
</div>

<div id="models-content">

    <a id="button" href="{%url 'administration-site'%}">Go back</a>
    <span>{{exceptions_count}} {%if exceptions_count == 1%} exception {%else%} exceptions {%endif%} ({{unread_count}} unread)</span>


    <div id="table">
        <div id="table-header">
            <div id="table-header-element" style="width: 250px;" >Title</div>
            <div class="hide-1400" id="table-header-element" style="width: 500px">Exception</div>
           <div class="hide-650" id="table-header-element">Occured</div> 
            <div style="clear:both;"></div>
        </div>

        <div id="table-content">
    {% for exception in exceptions %}
    <a href="{% url 'exception' eid=exception.id%}">
        <div
        {% if exception.id|divisibleby:2 and exception.unread%} 
        style="background-color: #182527bb; font-weight: 900; color: white;"
        {% elif exception.id|divisibleby:2 and exception.unread == False%} 
        style="background-color: #182527bb; "
        {% elif exception.id|divisibleby:2 == False and exception.unread%} 
        style="font-weight: 900; color:white;"
        {%endif%}
         id="table-element">
         <div id="table-row-element" style="width: 250px;">{{exception.title}}</div>
         <div class="hide-1400"  id="table-row-element" style="width: 500px">{{exception.exception}}</div>
        <div class="hide-650" id="table-row-element">{{exception.occured}}</div> 
         <div style="clear:both;"></div>
        </div>
    </a>
    {%endfor%}
</div>
    </div>

</div>
</div>
</div>




{% include 'footer.html'%}
{% endblock content%}
