{%extends 'main.html'%}
{% block content%}
{% include 'navbar.html'%}


<div id="container">
<div id="admin-box">
<div id="admin-header">
<h6>Exercises</h6>
<small id="admin-small">logged in as {{request.user.username}}</small>
<div style="clear:both;"></div>
</div>

<div id="models-content">

    <a id="button" href="{%url 'administration-site'%}">Go back</a>
    <span>{{exercises_count}} {%if exercises_count == 1%} exercise {%else%} exercises {%endif%}</span>

    <div id="table">
        <div id="table-header">
            <div  id="table-header-element">Title</div>
            <div class="hide-1100" id="table-header-element">Difficulty</div>
           <div class="hide-650" id="table-header-element">Body</div> 
            <div class="hide-850" id="table-header-element">Added</div>
            <div style="clear:both;"></div>
        </div>

        
    <div id="table-content">
    {% for exercise in exercises %}
        <a href="{%url 'edit-exercise' eid=exercise.id %}"><div
        {% if exercise.id|divisibleby:2 %} 
        style="background-color: #182527bb;"
        {%endif%}
         id="table-element">
         <div id="table-row-element">{{exercise.title}}</div>
         <div class="hide-1100" id="table-row-element">{{exercise.difficulty}}</div>
        <div class="hide-650"id="table-row-element">{{exercise.body}}</div> 
         <div class="hide-850"id="table-row-element">{{exercise.added}}</div>
         <div style="clear:both;"></div>
    
        </div>
        </a>
      
    {%endfor%}
    </div>
    </div>

    <a id="button" href="{%url 'add-exercise'%}">Add exercise</a>

</div>
</div>
</div>




{% include 'footer.html'%}
{% endblock content%}
