{%extends 'main.html'%}
{%block content%}
{% include 'navbar.html'%}
{%include 'administration/modals/delete_confirmation.html'%}
{%load static%}

<div id="container">
    <div id="admin-box">
    <div id="admin-header">
    <h6>Message No. {{message.id}}</h6>
    <small id="admin-small">logged in as {{request.user.username}}</small>
    <div style="clear:both;"></div>
    </div>
    <div id="models-content">
    
        <a id="button" href="{%url 'messages'%}">Go back</a>

        <div id="contact-message">
        <div id="message-header">
        
        <div id="hide"><span>Received:</span> {{message.sent}}</div>
        <h7 class="message-header-info">
        <span>From:</span>
        {{message.email_contact}}</h7>
        <span class="date">{{message.sent}}</span>
        <div style="clear:both"></div>
        <div style="margin-top:7px;"class="message-header-info"><span>First name:</span>{{message.first_name}}</div> 
        <div class="message-header-info"><span>Last name:</span>{{message.last_name}}</div>
        </div>
        <div id="message-body">{{message.message}}</div>
        </div>
        <a id="button" href="{%url 'add-excercise'%}">Respond</a>
        <a id="button" onclick="display()" href="#">Delete</a>
        </div>
    
    </div>
    </div>
    </div>

    <script src="{% static 'js/script.js'%}"></script>
{% include 'footer.html'%}
{%endblock%}