{%extends 'main.html'%}
{% block content%}
{% include 'navbar.html'%}


<div id="container">
<div id="admin-box">
<div id="admin-header">
<h6>Contact Messages</h6>
<small id="admin-small">logged in as Wiktor</small>
<div style="clear:both;"></div>
</div>

<div id="models-content">


<a id="button" href="{%url 'administration-site'%}">Go back</a>

<span>{{messages_count}} messages ({{unread_count}} unread)</span>



<div id="table">
    <div id="table-header">
        <div class='hide-1100' id="table-header-element">First Name</div>
        <div class='hide-1400' id="table-header-element">Last Name</div>
       <div  class='hide-850' id="table-header-element">Email</div> 
        <div id="table-header-element">Message</div>
        <div class='hide-650' id="table-header-element">Sent</div>
        <div style="clear:both;"></div>
    </div>

    
    <div id="table-content">
{% for message in messages %}

<a href="{% url 'message' mid=message.id%}">
    <div
    {% if message.id|divisibleby:2 and message.unread%} 
    style="background-color: #182527bb; font-weight: 900; color: white;"
    {% elif message.id|divisibleby:2 and message.unread == False%} 
    style="background-color: #182527bb; "
    {% elif message.id|divisibleby:2 == False and message.unread%} 
    style="font-weight: 900; color:white;"
    {%endif%}
     id="table-element">
     <div class='hide-1100' id="table-row-element">{{message.first_name}}</div>
     <div class='hide-1400' id="table-row-element">{{message.last_name}}</div>
     <div class='hide-850'id="table-row-element">{{message.email_contact}}</div> 
     <div id="table-row-element">{{message}}</div>
     <div class='hide-650' id="table-row-element">{{message.sent}}</div>
     <div style="clear:both;"></div>

    </div>
</a>
{%endfor%}
</div>
</div>

</div>
</div>

</div>




{% include 'footer.html'%}
{% endblock content%}
