{%extends 'main.html'%}
{% block content%}
{% include 'navbar.html'%}
<div id="container">
<div id="admin-box">
<div id="admin-header">
<h6>Newsletter Users</h6>
<small id="admin-small">logged in as {{request.user.username}}</small>
<div style="clear:both;"></div>
</div>
<div id="models-content">

    <a id="button" href="{%url 'administration-site'%}">Go back</a>
    <span>{{users_count}} {%if users_count == 1%} user {%else%} users {%endif%}</span>


    <div id="table">
        <div id="table-header">
            <div id="table-header-element">Email</div>
            <div class="hide-650" id="table-header-element">Verified</div>
            <div class="hide-1400" id="table-header-element">Active</div> 
            <div class="hide-1100" id="table-header-element">Excercises received</div>
            <div class="hide-850" id="table-header-element">First seen</div>
            <div style="clear:both;"></div>
        </div>

        
    <div id="table-content">
    {% for user in users %}
        <div
        {% if user.id|divisibleby:2 %} 
        style="background-color: #182527bb;"
        {%endif%}
         id="table-element">
         <div  id="table-row-element">{{user.email}}</div>
         <div  class="hide-650" id="table-row-element">{{user.verified}}</div>
         <div  class="hide-1400" id="table-row-element">{{user.active}}</div> 
         <div  class="hide-1100" id="table-row-element">{{user.excercises_received}}</div>
         <div  class="hide-850" id="table-row-element">{{user.created}}</div>
         <div style="clear:both;"></div>
    
        </div>
          {%endfor%}
          </div>
    </div>


</div>
</div>
</div>
{% include 'footer.html'%}
{% endblock content%}
