<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="footer">

    <ul>
      {%if request.user.is_superuser%}
      <li><a href="{% url 'administration-site'%}">Admin</a></li>
      {%endif%}
      <li><a href="{% url 'home'%}">Home</a></li>
      <li><a href="{% url 'unsubscribe-how-to'%}">Unsubscribe</a></li>
      <li><a href="{% url 'contact'%}">Contact</a></li>
    </ul>
  
    <a id="icon" target="_blank" href="https://github.com/WiktorBK/codingroutine"><i class="fa fa-github" style="font-size:24px"></i></a>
    <p> &copy CodingRoutine 2023 </p>
  </footer>