#contact-box {
  margin: 0 auto;
  width: 80%;  
  height: auto;
  background-color: #243234;
  box-shadow: -1px 7px 40px -22px #121212;
  padding: 20px;
}
#inline-form {
  margin: 0 auto;
  width: auto;
  display: flex;
  justify-content: center;
}
#inline[type="text"] {
  width: 265px;
  margin: 0 5px;
  height: 45px;
  border-radius: 20px;
  font-size: 18px;
  padding: 10px;
  background-color: #c5c5c5;
  transition: 0.5s;
  box-sizing: border-box;
  border: 2px solid #ccc;
  outline: none;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

#inline::placeholder {
  opacity: 0.5;
  font-size: 18px;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

#inline:focus {
  border: 2px solid #303030;
  background-color: #d6d6d6;
}

#message::placeholder {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  opacity: 0.5;
  font-weight: 600;
}

#message[type="text"] {
  margin: 15px;
  width: 540px;
  height: 230px;
  border-radius: 10px;
  font-size: 16px;
  padding: 7px;
  background-color: #c5c5c5;
  transition: 0.5s;
  box-sizing: border-box;
  border: 2px solid #ccc;
  outline: none;
  resize: none;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  max-height: 200px;
  min-height: 50px;
}
#message[type="text"]:focus {
  border: 2px solid #303030;
  background-color: #d6d6d6;
}

#contact-input[type="submit"] {
  background-color: #20cd8d;
  border: none;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 25px;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 30px;
  transition: 0.3s;
}

#contact-input[type="submit"]:hover {
  background-color: #10bc7c;
}

#email-contact[type="text"] {
  width: 540px;
  height: 50px;
  border-radius: 20px;
  font-size: 18px;
  padding: 7px;
  background-color: #c5c5c5;
  transition: 0.5s;
  box-sizing: border-box;
  border: 2px solid #ccc;
  outline: none;
  background-image: url("https://img.icons8.com/ios-filled/256/apple-mail.png");
  background-position: 97% 50%;
  background-size: 35px;
  background-repeat: no-repeat;
  font-weight: 700;
  margin-top: 15px;
}

#email-contact::placeholder {
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  opacity: 0.5;
}

#email-contact[type="text"]:focus {
  border: 2px solid #303030;
  background-color: #d6d6d6;
}

@media screen and (max-width: 1200px) {
  #contact-input[type="submit"] {
    width: 160px;
    height: 45px;
    font-size: 18px;
  }


  #inline[type="text"] {
    width: 185px;
    height: 40x;
    font-size: 14px;
  }
  #inline::placeholder {
    font-size: 14px;
  }
  #email-contact[type="text"] {
    width: 380px;
    height: 40px;
    background-size: 25px;
    font-size: 14px;
    margin: 9px;
  }
  #email-contact::placeholder {
    font-size: 14px;
  }
  #message[type="text"] {
    width: 380px;
    font-size: 14px;
    height: 300px;
    margin-top: 0px;
  }
  #message::placeholder {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  #contact-input[type="submit"] {
    height: 40px;
    font-size: 16px;
  }


  #inline[type="text"] {
    width: 165px;
    height: 40px;
    font-size: 14px;
    margin: 0px 3px;
    padding: 5px;
  }

  #inline::placeholder {
    font-size: 14px;
  }

  #email-contact[type="text"] {
    width: 336px;
    height: 40px;
    background-size: 25px;
    font-size: 14px;
    margin: 7px;
  }
  #email-contact::placeholder {
    font-size: 14px;
  }
  #message[type="text"] {
    width: 336px;
    margin: 0;
    font-size: 13px;
    max-height: 200px;
  }
  #message::placeholder {
    font-size: 13px;
  }
}

@media screen and (max-width: 600px) {
  #contact-input[type="submit"] {
    width: 120px;
    height: 35px;
    font-size: 16px;
  }

  #inline[type="text"] {
    width: 130px;
    height: 35px;
    font-size: 12px;
    margin: 0px 3px;
    padding: 5px;
  }

  #inline::placeholder {
    font-size: 12px;
  }

  #email-contact[type="text"] {
    width: 266px;
    height: 35px;
    background-size: 20px;
    font-size: 12px;
    margin: 7px;
  }
  #email-contact::placeholder {
    font-size: 12px;
  }
  #message[type="text"] {
    width: 266px;
    margin: 0;
    font-size: 11px;
    max-height: 200px;
  }
  #message::placeholder {
    font-size: 11px;
  }
}