#line2 {
    background-color: #20cd8d;
    width: 5px;
    height: 55px;
    margin: 55px 0px 0px 55px;
    position: absolute;
  }

  #smalltext {
    color: white;
    opacity: 0.8;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  

  @keyframes arrow2 {
    80% { opacity: 0.6; transform: translateY(7px); }
    100% { opacity: 1; }
  }
  @keyframes arrow {
    80% {opacity: 0.6; transform: translateY(-7px);}
    100% {opacity: 1;}
  }
  
  svg {
    transition: 0.3s;
  }
  svg:hover {
    stroke-width: 2.2px;
  }

  #section1 {
    height: 100vh;
  } 
  #section2{
    height: 100vh;
    padding: 100px;
  }


  #block {
    margin: 0 auto;
    width: 80%;
    height: auto;
    background-color: #243234;
    padding: 20px 20px 80px 20px;
  }
  
  #block-inside {
    margin: 0 auto;
    margin-top: 50px;
    width: 75%;
    height: 375px;
    border-radius: 7px;
    background-color: #252927;
    padding: 30px;
    box-shadow: -1px 7px 34px -22px #121212;
  }
  
  #example {
    margin-top: 20px;
    font-weight: 600;
  }
  #task {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
  }
  
  #text {
    color: white;
    font-size: 17px;
    text-align: left;
  }
  .container2 {
    margin: 150px auto;
    padding: auto;
    width: 1000px;
  }
  
  #title{
    font-size:20px; margin-bottom: 15px; font-weight: 700; text-align: center;
  }
  
  #sec-header{
    font-size: 35px;
    margin-top: 60px;
    text-align: center;
    font-weight: 900;
    color: #20cd8d; }

  #img-wrapper{margin-top: 50px;text-align: center;}

  #img{border-radius: 5px;width: 80%;}


  @media screen and (max-width: 1200px) {
    
    .container2{width:600px;}
    #block {width: 80%;padding: 20px; }
    #block-inside {margin: 20px auto;width: 72%;height: 385px;padding: 30px; }
    #example {margin-top: 16px;font-weight: 600;}
    #task {margin-top: 20px; }
    #text {font-size: 15px;}
    #line2 {width: 4px;height: 35px;margin: 55px 0px 0px 22px;}
    #sec-header{font-size: 25px; margin-top: 30px;}
    #img-wrapper{margin-top: 20px;}
  }
  
  @media screen and (max-width: 800px) {
    #smalltext {font-size: 12px;}
    .container2{width: 350px}
    #block-inside {margin: 30 auto;width: 70%;height: 370px;padding: 22px}
    #task {margin-top: 15px; }
    #text {font-size: 12px;}
    #block {width: 90%;height: 400;padding: 20px;  }
    #line2 {width: 3px;height: 30px;margin: 55px 0px 0px 14px;}
    #title {font-size: 15px;}
  }
  