{%extends 'main.html'%} {% block content %} {% include 'navbar.html'%}

<div class="container">
  <div id="contact-box">
    <h2 style="margin-bottom: 50px">Contact us</h2>
      {% if messages %}
          {% for message in messages %} 
          <div style="color:rgb(196, 1, 1); font-weight: 900; opacity: 0.8; margin-bottom: 15px;text-align:center;">{{message}}</div>
          {% endfor %}
      {%endif%}

    <form action="" method="POST">
      {%csrf_token%}
      <div id="inline-form">{{form.first_name}} {{form.last_name}}</div>
      <div id="input">{{form.email_contact}}</div>
      <div id="input">{{form.message}}</div>
      <div id="input">
        <input id="contact-input" type="submit" value="Send" />
      </div>
    </form>
  </div>
  </div>
  
  {%include 'footer.html'%}
 
   

{% endblock %}
