{%extends 'main.html'%} {% block content %} {% include 'navbar.html'%}
<div class="container">
  <div id="contact-box">
    <h2 style="margin-bottom: 50px">Contact form</h2>
    <form action="" method="POST">
      {%csrf_token%}
      <div id="inline-form">{{form.first_name}} {{form.last_name}}</div>
      <div id="input">{{form.email_contact}}</div>
      <div id="input">{{form.message}}</div>
      <div id="input">
        <input id="contact-input" type="submit" value="Send" />
      </div>
    </form>
  </div>
  <div id="footer-contact">
    <a id="bottomnav" href="{% url 'home'%}"><small>Home</small></a>
    <a id="bottomnav" href="{% url 'contact'%}"><small>Contact</small></a>
    <small id="copyright">&copy CodingRoutine 2023</small>
  </div>
</div>
{% endblock %}
