{%extends 'main.html'%} {% block content %} {% include 'navbar.html'%}

<div class="container">
  <div id="contact-box">
    <h2 style="margin-bottom: 50px">Contact form</h2>
    <form action="" method="POST">
      {%csrf_token%}
      <div id="inline-form">{{form.first_name}} {{form.last_name}}</div>
      <div id="input">{{form.email_contact}}</div>
      <div id="input">{{form.message}}</div>
      <div id="input">
        <input id="contact-input" type="submit" value="Send" />
      </div>
    </form>
  </div>
  </div>
  
  <footer class="footer">

    <ul>
      <li><a href="{%url 'home'%}">Home</a></li>
      <li><a href="{%url 'contact'%}">Contact</a></li>
      <li><a href="">Unsubscribe</a></li>
  
    </ul>
  
    <p> &copy CodingRoutine 2023</p>
  
  </footer>
 
   

{% endblock %}
