{%extends 'main.html'%}
{%block content%}
<div class="container">
  <div id="verification-box">
    <h2 style="margin-bottom: 40px">Verify your email</h2>
    <p id="email-text">
      You're almost there! We sent you an email with verification link. Just
      click on it and that's all.
    </p>
    <p id="email-text">
      If you don't see it, you may need to check your spam folder.
    </p>
    <br /><br />
    <div id="resend-div">
      <p id="email-text">Still can't find your email?</p>
      <div style="height: 15px"></div>
      <a id="resend" href="">Resend</a>
    </div>

    <div id="having-problems">
      <p id="email-text">
        Having problems?
        <a id="contact-us" href="{% url 'contact'%}">Contact us</a>
      </p>
    </div>
  </div>

</div>
<footer class="footer">

  <ul>
    <li><a href="{%url 'home'%}">Home</a></li>
    <li><a href="{%url 'contact'%}">Contact</a></li>
    <li><a href="">Unsubscribe</a></li>

  </ul>

  <p> &copy CodingRoutine 2023</p>

</footer>
{%endblock%}