{%extends 'main.html'%}

{% block content %}
{%load static%}

    {% include 'navbar.html'%}
  <div class="container">
    {%if enrolled%}
      {%if verified%}
      {%include 'base/modal-verified.html'%}
        {%else%}
        {%include 'base/modal-enrolled.html'%}
      {%endif%}
    {%else%}
    {%endif%}

    <div id="text">
      <h1>Let the routine help you</h1>
      <p>Enter your email and receive daily coding exercise</p>
    </div>
    <div class="center">
    {% if messages %}
        {% for message in messages %}
        <div style="color:rgb(183, 0, 0); font-weight: 900; opacity: 0.7; margin-top: 230px;">{{ message }}</div>
        {% endfor %}
    {%endif%}
  </div>
   <form action="{% url 'home' %}" onsubmit="disable()" method="POST">
    {%csrf_token%}

    <div id="input">
        {{ form.email }}
      </div>


      <div id="input">
        <input id="sign-up" type="submit" name="Submit" value="Sign Up" />
      </div>
    </form>
    <div id="smalltext">
      <small>Zero spam. One click unsubscribe.</small>
    </div>

  </div>

  
  <div class="container2">

</a>
<div id="block">
  <h2>Sample coding exercise</h2>
  
  <div id="block-inside">
    <div id="text">
      <div id="title"> String Anagram Checker</div>
      <div style="margin-bottom: 8px;">Difficulty: Easy</div>
      <div id="explanation">
        You are given two strings as input. Write a program to determine if they are anagrams of each other. Anagrams are words or phrases that have the same characters but can be rearranged to form different words or phrases.
      </div>
      <div id="example">
        <div> String 1: "listen"</div>
        String 2: "silent"
      </div>
      <div id="task">
        returns: True
    </div>
    <div id="explanation">
      <div> Explanation: </div>
      In the example above, the input strings "listen" and "silent" are anagrams of each other as they have the same characters (l, i, s, t, e, n) and can be rearranged to form the same word.   
    </div>
  </div>
</div>

<div id="sec-header">Email sample:</div>
<div id="img-wrapper">
<img id="img" src="{% static 'images/email_screen.png'%}" alt="">
</div>

</div>


</div>

<script src="{% static 'js/script.js'%}"></script>

{%include 'footer.html'%}

{% endblock %}