<style>
.modal {
  position: fixed;
  z-index: 1;
  padding-top: 300px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7); 
  
}
@keyframes modal-appear {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.modal-content {
  background-color: #E8E8E8;
  margin: auto;
  height: 310px;
  border: 1px solid #888;
  width: 600px;
  border-radius: 7px;
  animation: modal-appear 0.5s;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#modal-header
{
	border: 1px solid #E8E8E8;
    padding: 0px 10px;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 20px;
}
#modal-text
{
border-bottom: 1px solid #B8B8B8;
border-top: 1px solid #B8B8B8;
height: 130px;
padding: 10px;
}
#modal-footer
{
height: 40px;
padding: 10px 5px;
}
#button
{
	cursor: pointer;
    float: left;
    padding: 11px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #20CD8D;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 600;
}
#button:hover{background-color: #10BC7C;}
</style>

<div id="Modal" class="modal">

  <div class="modal-content">
  
    <div id="modal-header">
    <span class="close">&times;</span>
    <h3 style="margin-top: 30px;">You are already enrolled to CodingRoutine<h3>
    </div>
    <div id = "modal-text"><h3 style="font-size: 18px;margin-left: 17px; width: 450px; font-weight:500;">You should have received verification link. Please click the button below to resend the link or contact us if you have any problems.</h3></div>
    <div id = "modal-footer">
    <a><div id="button">Resend verification link</div></a>
    <a href="{% url 'contact' %}"><div id="button">Contact us</div></a>
    </div>
  
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById("Modal");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
</script>


