
{%extends 'main.html'%}
{%block content%}

<div class="container">
  <div id="verification-box" style="height: 430px">
    <h2 style="margin-bottom: 40px">Thank you for joining us!</h2>
    <p id="email-text">
      It's good to have you on board! We hope that daily coding excersises will
      take your skills to the next level!
    </p>
    <p id="email-text">
      From now on you will receive a coding problem everyday!
    </p>
    <br /><br />
    <div id="resend-div">
      <div style="height: 15px"></div>
      <a id="take-home" href="{% url 'home' %}">Take me home</a>
    </div>

    <div style="margin-top: 10px">
      <p id="email-text">Feel free to give feedback or report a bug.</p>
      <p id="email-text">
        <a id="contact-us" href="{% url 'contact'%}">Contact us</a>
      </p>
    </div>
  </div>

</div>

<footer class="footer">

  <ul>
    <li><a href="">Home</a></li>
    <li><a href="">Contact</a></li>
    <li><a href="">Unsubscribe</a></li>
  </ul>

  <p> &copy CodingRoutine 2023</p>

</footer>
{%endblock%}
